### Batch Gradient Descent

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('yahoo_data.xlsx', engine = 'openpyxl')
df.head()

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Apr 28, 2023",33797.43,34104.56,33728.40,34098.16,34098.16,354310000
1,"Apr 27, 2023",33381.66,33859.75,33374.65,33826.16,33826.16,343240000
2,"Apr 26, 2023",33596.34,33645.83,33235.85,33301.87,33301.87,321170000
3,"Apr 25, 2023",33828.34,33875.49,33525.39,33530.83,33530.83,297880000
4,"Apr 24, 2023",33805.04,33891.15,33726.09,33875.40,33875.40,252020000

In [3]:
df.rename(columns={
    'Date':'date',
    'Open':'open',
    'High':'high',
    'Low':'low',
    'Close*':'close',
    'Adj Close**':'adj_close',
    'Volume':'volume'
}, inplace=True)
df.head()

           date      open      high       low     close  adj_close     volume
0  Apr 28, 2023  33797.43  34104.56  33728.40  34098.16   34098.16  354310000
1  Apr 27, 2023  33381.66  33859.75  33374.65  33826.16   33826.16  343240000
2  Apr 26, 2023  33596.34  33645.83  33235.85  33301.87   33301.87  321170000
3  Apr 25, 2023  33828.34  33875.49  33525.39  33530.83   33530.83  297880000
4  Apr 24, 2023  33805.04  33891.15  33726.09  33875.40   33875.40  252020000

In [4]:
df.pop('date')

0       Apr 28, 2023
1       Apr 27, 2023
2       Apr 26, 2023
3       Apr 25, 2023
4       Apr 24, 2023
            ...
1253    May 07, 2018
1254    May 04, 2018
1255    May 03, 2018
1256    May 02, 2018
1257    May 01, 2018
Name: date, Length: 1258, dtype: object

In [5]:
# features and target
x = df[['open', 'high', 'low', 'volume']]
y = df['close']

In [6]:
# standardizing the data
x = (x - x.mean()) / x.std()
y = (y - y.mean()) / y.std()

In [7]:
# data split
split_index = int(len(x) * 0.8)

x_train = x.iloc[:split_index]
x_test  = x.iloc[split_index:]

y_train = y.iloc[:split_index]
y_test  = y.iloc[split_index:]

In [8]:
# custom class
class batch_gd:
    def __init__(self, learning_rate, epochs):
        self.intercept_ = None
        self.coef_ = None
        self.n = learning_rate
        self.epochs = epochs
        self.loss_history = []
    
    def fit(self, x_train, y_train):
        # random init
        self.coef_ = np.ones(x_train.shape[1])
        self.intercept_ = 0

        for i in range(self.epochs):
            # updating the intercept
            y_pred = self.intercept_ + np.dot(x_train, self.coef_)
            d_intercept_ = (-2/x_train.shape[0]) * np.sum(y_train - y_pred)
            self.intercept_ -= (self.n * d_intercept_)

            # updating the coef
            d_coef_ = (-2/x_train.shape[0]) * np.dot((y_train - y_pred), x_train)
            self.coef_ -= (self.n * d_coef_)

            loss = np.mean((y_train - y_pred)**2)

            self.loss_history.append(loss)
            print(f"step {i} | loss = {loss}")
        print('Final parameters...✅')
        print('intercept = ',self.intercept_)
        print('coef = ',self.coef_)

    def predict(self, x_test):
        return self.intercept_ + np.dot(x_test, self.coef_)

In [9]:
# model train
gd = batch_gd(0.1, 100)
gd.fit(x_train, y_train)

step 0 | loss = 4.166794449584399
step 1 | loss = 1.3361471008466754
step 2 | loss = 0.6423134112510901
step 3 | loss = 0.3819054938991757
step 4 | loss = 0.24469321193655977
step 5 | loss = 0.16088229572542892
step 6 | loss = 0.10713732022053096
step 7 | loss = 0.07208121799052966
step 8 | loss = 0.04902274767454011
step 9 | loss = 0.03376346499627647
step 10 | loss = 0.023611122480531578
step 11 | loss = 0.016822500779508393
step 12 | loss = 0.012261455974505786
step 13 | loss = 0.009183251525048047
step 14 | loss = 0.00709704005835145
step 15 | loss = 0.005677587988969097
step 16 | loss = 0.004708287161993333
step 17 | loss = 0.004044162090941144
step 18 | loss = 0.0035877252403767523
step 19 | loss = 0.003273132007349844
step 20 | loss = 0.0030557262952933457
step 21 | loss = 0.002905106362568825
step 22 | loss = 0.002800502085767043
step 23 | loss = 0.0027276780718015273
step 24 | loss = 0.0026768493386080897
step 25 | loss = 0.002641272366019998
step 26 | loss = 0.002616288804291815
step 27 | loss = 0.0025986739714284053
step 28 | loss = 0.002586191464856246
step 29 | loss = 0.0025772877216684044
step 30 | loss = 0.002570881956509299
step 31 | loss = 0.002566221323591518
step 32 | loss = 0.0025627808213277183
step 33 | loss = 0.0025601939761798506
step 34 | loss = 0.0025582047538054817
step 35 | loss = 0.0025566341431630963
step 36 | loss = 0.002555356903562077
step 37 | loss = 0.002554285363540436
step 38 | loss = 0.002553358120622764
step 39 | loss = 0.0025525321518696767
step 40 | loss = 0.002551777301111587
step 41 | loss = 0.0025510724240786725
step 42 | loss = 0.0025504026911191175
step 43 | loss = 0.002549757698845413
step 44 | loss = 0.0025491301474710477
step 45 | loss = 0.0025485149139878246
step 46 | loss = 0.0025479084024831655
step 47 | loss = 0.0025473080885835176
step 48 | loss = 0.0025467121999318467
step 49 | loss = 0.0025461194920252143
step 50 | loss = 0.002545529090920579
step 51 | loss = 0.002544940382842435
step 52 | loss = 0.002544352936695315
step 53 | loss = 0.0025437664496659857
step 54 | loss = 0.0025431807090307403
step 55 | loss = 0.0025425955653376395
step 56 | loss = 0.002542010913574311
step 57 | loss = 0.002541426679942457
step 58 | loss = 0.0025408428125692642
step 59 | loss = 0.0025402592749834397
step 60 | loss = 0.0025396760415327896
step 61 | loss = 0.002539093094165429
step 62 | loss = 0.0025385104201687287
step 63 | loss = 0.0025379280105809966
step 64 | loss = 0.002537345859075698
step 65 | loss = 0.0025367639611776193
step 66 | loss = 0.002536182313712198
step 67 | loss = 0.00253560091441867
step 68 | loss = 0.002535019761678284
step 69 | loss = 0.0025344388543233646
step 70 | loss = 0.002533858191503155
step 71 | loss = 0.0025332777725895783
step 72 | loss = 0.0025326975971110203
step 73 | loss = 0.0025321176647058056
step 74 | loss = 0.0025315379750895143
step 75 | loss = 0.002530958528032021
step 76 | loss = 0.002530379323341356
step 77 | loss = 0.0025298003608523727
step 78 | loss = 0.002529221640418784
step 79 | loss = 0.002528643161907564
step 80 | loss = 0.002528064925195016
step 81 | loss = 0.002527486930164017
step 82 | loss = 0.002526909176702066
step 83 | loss = 0.002526331664699931
step 84 | loss = 0.0025257543940506847
step 85 | loss = 0.0025251773646490323
step 86 | loss = 0.0025246005763908405
step 87 | loss = 0.002524024029172803
step 88 | loss = 0.0025234477228922103
step 89 | loss = 0.00252287165744678
step 90 | loss = 0.0025222958327345466
step 91 | loss = 0.002521720248653779
step 92 | loss = 0.002521144905102923
step 93 | loss = 0.0025205698019805617
step 94 | loss = 0.002519994939185386
step 95 | loss = 0.0025194203166161804
step 96 | loss = 0.0025188459341718003
step 97 | loss = 0.002518271791751169
step 98 | loss = 0.002517697889253269
step 99 | loss = 0.0025171242265771346
Final parameters...✅
intercept =  0.0006801305195405589
coef =  [ 0.30796783  0.32301186  0.36742841 -0.0035554 ]

In [10]:
y_pred = gd.predict(x_test)

In [12]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9763840321306275